.page-about {
    .content {
        max-width: 510px;
        padding: 0 10px;
        margin-top: 150px;
        @media (max-width: 650px) {
            margin-top: 75px;
        }

        p {
            line-height: 22px;
            font-size: 17px;
            margin-bottom: 1em;
        }

        a {
            text-decoration: none;
            color: @link-blue;

            &:hover {
                text-decoration: underline;
                color: @btn-border-active;
            }
        }
    }
}
